version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.10
    steps:
      - checkout
      - run:
          name: "Check Envars"
          command: |
            echo $CIRCLE_PULL_REQUEST
            echo "---------------------------------------------"
            echo $CIRCLE_COMPARE_URL
      - run:
          name: "Target Branch Check"
          command: |
            if [[ -n $CIRCLE_PR_NUMBER ]]; then
              url="https://api.github.com/repos/$ORG/$PROJECT/pulls/$CIRCLE_PR_NUMBER?access_token=$GITHUB_TOKEN"
              target_branch=$( curl "$url" | ./jq '.base.ref' | tr -d '"' )

              if ! $target_branch == "develop"; then
                echo "Wrong PR target."
                exit 1
              fi
            fi
